footer {
   font-size: 0.675em;
   text-align: center;
   color: var(--light-color);
   margin-top: 1.5rem;
}

footer div:not(:last-child) {
   margin-bottom: 0.125em;
}

footer a {
   color: var(--light-color);
}
