.App {
   height: 100%;
   overflow-y: auto;
   overflow-x: hidden;
}

.App__inner {
   height: 100%;
   padding: 1em 0;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

button {
   cursor: pointer;
}

.container {
   margin: 0 auto;
   width: 100%;
   max-width: 480px;
   height: 100%;
   padding: 0 0.5em;
}
