body {
   margin: 0;
   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
      "Droid Sans", "Helvetica Neue", sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   background-color: var(--dark-color);
   color: var(--light-color);
   --dark-color: #192e4a;
   --mid-color: #457b9d;
   --mid-alt-color: #bbb;
   --light-color: #eee;
   --accent-color: #dc3643;
   --accent-color-pressed: #d42534;
   --poor-password-color: hsl(355, 70%, 42%);
   --average-password-color: hsl(395, 70%, 42%);
   --strong-password-color: hsl(455, 70%, 42%);
   --very-strong-password-color: hsl(515, 70%, 42%);
   --godlike-password-color: hsl(555, 70%, 35%);
   --shadow-color: #33333366;
   --border-radius: 0.5em;
   --hover-glow-shadow: 0 0 0.5em #dc3643aa;
   --hover-glow-transition: box-shadow 0.15s linear;
}

code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

input[type="range"] {
   -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
   width: 100%; /* Specific width is required for Firefox. */
   background: transparent; /* Otherwise white in Chrome */
}

input[type="range"]::-webkit-slider-thumb {
   -webkit-appearance: none;
}

input[type="range"]:focus {
   outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type="range"]::-ms-track {
   width: 100%;
   cursor: pointer;

   /* Hides the slider so custom styles can be added */
   background: transparent;
   border-color: transparent;
   color: transparent;
}

* {
   /*    margin: 0;
   padding: 0; */
   box-sizing: border-box;
}

html,
body,
#app,
#root {
   height: 100%;
   min-width: 320px;
}
